body{
  display: flex;
  text-align: center;
  align-items: center; 
  justify-content: center;
  min-height: 100vh;
  background-color: black;
  color: #6b0f0f;
  
}

div{
  justify-items: center;
}

